<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_2.dtd'-->
<web-app>
	<display-name>PHASE2</display-name>
	<distributable/>
	<servlet>
		<servlet-name>AudioServlet</servlet-name>
		<servlet-class>com.wmg.gar.asset.AudioServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.wmg.gar.controller.TestServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GARGroupAdminServlet</servlet-name>
		<servlet-class>com.wmg.gar.utils.GARGroupAdminServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GARSearchLoginServlet</servlet-name>
		<servlet-class>com.wmg.gar.search.GARSearchLoginServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GARSearchServlet</servlet-name>
		<servlet-class>com.wmg.gar.search.GARSearchServlet</servlet-class>
		<init-param>
			<param-name>TEMPLATE_FILE</param-name>
			<param-value>/u06/iplanet/ias6/ias/APPS/phase2/phase2/template.htm</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GARSearchAssetDetailServlet</servlet-name>
		<servlet-class>com.wmg.gar.search.GARSearchAssetDetailServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<resource-ref>
		<res-ref-name>jdbc/GarDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<login-config>
		<realm-name/>
		<form-login-config>
			<form-login-page/>
			<form-error-page/>
		</form-login-config>
	</login-config>
	<ejb-ref>
		<ejb-ref-name>ejb/AssetController</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.controller.AssetControllerHome</home>
		<remote>com.wmg.gar.controller.AssetController</remote>
		<ejb-link>AssetController</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/GARGateway</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.comm.gateway.GARGatewayHome</home>
		<remote>com.wmg.gar.comm.gateway.GARGateway</remote>
		<ejb-link>GARGateway</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>MyAsset</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.asset.GARAssetHome</home>
		<remote>com.wmg.gar.asset.GARAsset</remote>
		<ejb-link>MyAsset</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>MyAudioAsset</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.asset.GARAudioAssetHome</home>
		<remote>com.wmg.gar.asset.GARAudioAsset</remote>
		<ejb-link>MyAudioAsset</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>MyTextAsset</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.asset.GARTextAssetHome</home>
		<remote>com.wmg.gar.asset.GARTextAsset</remote>
		<ejb-link>MyTextAsset</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>MyImageAsset</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.asset.GARImageAssetHome</home>
		<remote>com.wmg.gar.asset.GARImageAsset</remote>
		<ejb-link>MyImageAsset</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>MyVideoAsset</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.asset.GARVideoAssetHome</home>
		<remote>com.wmg.gar.asset.GARVideoAsset</remote>
		<ejb-link>MyVideoAsset</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>MyOtherAsset</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.asset.GAROtherAssetHome</home>
		<remote>com.wmg.gar.asset.GAROtherAsset</remote>
		<ejb-link>MyOtherAsset</ejb-link>
	</ejb-ref>
	<!--<ejb-ref>
		<ejb-ref-name>MyTextAsset</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.wmg.gar.asset.GARTextAssetHome</home>
		<remote>com.wmg.gar.asset.GARTextAsset</remote>
		<ejb-link>MyTextAsset</ejb-link>
	</ejb-ref>-->
	<ejb-ref>
		<ejb-ref-name>ejb/AssetOperationHandler</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.controller.AssetOperationHandlerHome</home>
		<remote>com.wmg.gar.controller.AssetOperationHandler</remote>
		<ejb-link>AssetOperationHandler</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>MyTransaction</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.db.TransactionHome</home>
		<remote>com.wmg.gar.db.Transaction</remote>
		<ejb-link>MyTransaction</ejb-link>
	</ejb-ref>
	<!--	<ejb-ref>
		<ejb-ref-name>MyTransactionReport</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.db.TransactionReportHome</home>
		<remote>com.wmg.gar.db.TransactionReport</remote>
		<ejb-link>MyTransactionReport</ejb-link>
	</ejb-ref> -->
	<ejb-ref>
		<ejb-ref-name>ejb/GARSecurityService</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.controller.GARSecurityServiceHome</home>
		<remote>com.wmg.gar.controller.GARSecurityService</remote>
		<ejb-link>GARSecurityService</ejb-link>
	</ejb-ref>
	<!--	<ejb-ref>
		<ejb-ref-name>ejb/GASApiService</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.wmg.gar.controller.GASApiServiceHome</home>
		<remote>com.wmg.gar.controller.GASApiService</remote>
		<ejb-link>GASApiService</ejb-link>
	</ejb-ref>-->
</web-app>
